

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #FFD700;
    text-decoration: none;
}

.logo:hover {
    color: #FFA500;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.main-container {
    text-align: center;
    background-color: #444;
    color: #ffffff;
    max-width: 600px;
    width: 90%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.main-container h1 {
    font-size: 36px;
    color: #ffc107;
    margin-bottom: 20px;
}

/* Кнопки */
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons .btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.buttons .btn:hover {
    background-color: #0056b3;
}


footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
