{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="main-container">
    <h1>Добро пожаловать в SaberManager</h1>
    <div class="buttons">
        <a href="{{ url_for('login') }}" class="btn">Войти</a>
        <a href="{{ url_for('register') }}" class="btn">Регистрация</a>
    </div>
</div>
{% endblock %}
